<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row justify-content-center align-items-center h-100">
        <div class="col-12 col-lg-9 col-xl-7">
          <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
            <div class="card-body p-4 p-md-5">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Student Registration Form  </h3>
              <form [formGroup]="loginForm" (ngSubmit)="saveData()">
  
                <div class="row">
                  <div class="col-md-6 mb-4">
  
                    <div class="form-outline">
                      <input type="text" id="firstName" class="form-control form-control-lg" formControlName="productName"/>
                      <label class="form-label" for="firstName">Product Name</label>
                    </div>
  
                  </div>
                  <div class="col-md-6 mb-4">
  
                    <div class="form-outline">
                      <input type="text" id="lastName" class="form-control form-control-lg" formControlName="productDescription"/>
                      <label class="form-label" for="lastName">Product Description</label>
                    </div>
  
                  </div>
                </div>
                <div class="col-md-6 mb-4">
  
                    <div class="form-outline">
                      <input type="number" id="lastName" class="form-control form-control-lg" formControlName="productPrice"/>
                      <label class="form-label" for="lastName">Product Price</label>
                    </div>
                  </div>
                  <div class="col-md-6 mb-4">
  
                    <div class="form-outline">
                      <input type="number" id="lastName" class="form-control form-control-lg"   formControlName="stockCount"/>
                      <label class="form-label" for="lastName">Stock Count</label>
                    </div>
                  </div>
  
                <div class="mt-4 pt-2">
                  <input class="btn btn-primary btn-lg" [disabled]="!loginForm.valid" type="submit" value="Submit" />
                </div>
  
              </form>
            </div>
          </div>
        </div>
      




  
  
